.rec{
  color: rgb(99, 13, 13);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100px;
  border-style: solid;
  border-color: #2889a7; 
  width:fit-content;
}

.info{
  justify-content: center;
  color: yellowgreen;
}
